<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Foramu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if (url == '/') { %>
            <a class="nav-link active" aria-current="page" href="/"> <i class="fas fa-home fa-1x"></i> Home</a>
          <% } else if (url.includes('/r/')) { %>
            <a class="nav-link active" aria-current="page" href="#"><%= url%> </a>
          <% } else if(url.includes('/u/')) { %>
            <a class="nav-link active" aria-current="page" href="#"><%= url%> </a>
          <% } else { %>
            NA
          <% } %>  
        </li>
        <% if (signedUser) { %>
          <ul class="nav-item dropdown me-2 mb-2 mb-lg-0">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-plus"></i></i>
              Create Post
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><div class="ps-2">Your Communities</div></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createPost"><i class="bi bi-plus-lg"></i> Create a Post</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createCommunity"><i class="bi bi-plus-lg"></i> Create a Community</a></li>
              <% signedUser.followedCommunites.forEach(community => { %>
                <li><a class="dropdown-item" href="/r/<%= community %>">r/<%= community %> </a></li>
              <% }) %>
              
            
              <li><hr class="dropdown-divider"></li>
              <li><div class="ps-2">Feeds</div></li>
              <li><a class="dropdown-item" href="/"><i class="fas fa-home fa-1x"></i> Home</a></li>
              <!-- <li><hr class="dropdown divider"></li> -->
              <!-- <li><div class="ps-2">Other</div></li> -->
              <!-- <li><a class="dropdown-item" href="#"><i class="bi bi-gear-fill"></i> Settings</a></li> -->
            </ul>
          </ul>
        
        <% } %>
      </ul>
      
      <form class=" mb-2 mb-lg-0" method="GET" action="/">
          <div class="search-autocomplete">
            <input style="color: #D7DADC;" class="form-control me-2" type="search" id="search-input" placeholder="Search Community" aria-label="Search" style="text-transform:lowercase;">
          </div>
        </form>
      <ul class="ms-auto mb-2 mb-lg-0">

      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if (signedUser) { %>
          
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="comment-item-profile" src="<%= signedUser.Bio.profileImage.url %> " alt=""><%= signedUser.username %> 
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                <a class="dropdown-item" href="/u/profile">My Profile</a>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profile">Edit Profile</a>
                <a class="dropdown-item" href="/users/logout">Log out</a>
              </div>
            </li>
        <% } else { %>
          <!-- <li class="nav-item btn btn-log-in px-3 me-2">
            <a href="/users/login">
              Log in
            </a> -->
            <li class="nav-item btn btn-nav btn-sign-up px-3">
            <a href="" data-bs-toggle="modal" data-bs-target="#login" >Login</a>
          </li>
          <li class="nav-item btn btn-nav btn-sign-up px-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#signup">
              Sign Up
            </a>
          </li>
          <% } %>
        </ul>
    </div>
  </div>
  
  <div class="modal fade" id="createCommunity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content dark-mode">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create a Community</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/r" method="POST">
        <div class="modal-body">
          
          
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Name</label>
              <input type="text" name="r" class="form-control" id="exampleFormControlInput1" placeholder="r/" maxlength="21" required>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Description</label>
              <textarea  class="form-control" name="description" id="descripton" placeholder="Tell us about your community" required></textarea>
            </div>
            <!-- <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
              <label class="form-check-label" for="flexRadioDefault1">
                <i class="bi bi-person-circle"></i> Public
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
              <label class="form-check-label" for="flexRadioDefault2">
                <i class="bi bi-eye-slash-fill"></i> Restricted
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
              <label class="form-check-label" for="flexRadioDefault2">
                <i class="bi bi-lock-fill"></i> Private
              </label>
            </div> -->
            <h4>Adult Content</h4>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                18+ year old community
              </label>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Community</button>
        </div>
      </form> 
      </div>
    </div>
  </div>

<div class="modal fade" id="createPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content dark-mode">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%  if(signedUser){  %> 
      <form action="/r/<%= signedUser.followedCommunites[0] %> " method="POST" enctype="multipart/form-data" id="creative_post">
      <div class="modal-body">
          <div class="mb-3">
           
            <label for="subreddit">Pick a Community:</label>
            <select class="form-select post_subreddit" onchange="changeAction(this.value)" for="subreddit">
              <% signedUser.followedCommunites.forEach(community => { %>
                <option value="<%= community %>">r/<%= community %> </option>
              <% }) %>
          </select>
          
          </div>
          <div class="mb-3">
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Title" required>
          </div>
          <div class="input-group custom-file mt-3">
            <input type="file" name="image" class="" />
            <label class="custom-file-label" for="image">file</label>
        </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <textarea  class="form-control" name="body" id="PostText" ></textarea>
          </div>
 
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form> 
    <% } %>    
    </div>
  </div>
</div>


<!-- sign up -->
  <div class="modal fade " id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content dark-mode">
        <form  action="/users" method="POST">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <div class="form-group mb-3">
              <label for="username">Pick a username</label>
              <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Earf@notreddit.com" name="email" required>
            </div>
            <div class="form-group mb-3">
              <label for="password">Choose a password</label>
              <input type="password" class="form-control" name="password" aria-describedby='passwordHelp' required>
              <small id="passwordHelp" class="form-txt text-muted">Min 6 Characters, numbers & letters</small>
          </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- profile -->
  <% if (signedUser) { %>
    <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content dark-mode">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Username: <%= signedUser.username %> </p>
                <p>Edit Your Profile:</p>
                <form action="/u/<%= signedUser._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Upload profile image</label>
                    <input class="form-control" type="file" id="formFile" name="profileImage">
                  </div>
                  <div class="">
                    <label for="textarea">Bio:</label>
                    <textarea name="text" id="" cols="30" rows="5"></textarea>
                  </div>
                  <button class="btn btn-dark" type="submit">Update</button>
                </form>
            </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
      </div>
    </div>
  
  <% } %>
 
  <!-- login Tom -->
  <div class="modal fade modal-centering" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content dark-mode">
        <div class="modal-header">
          <h5 class="modal-title p-2 fw-bold fs-5" id="staticBackdropLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="about text-justify">
            By continuing, you agree are setting up a Reddit account and agree to our User Agreement and Privacy Policy.
          </div>
          <div class="row mt-4">
          <form action="/users/login" method="POST">
            <div class="input-group mx-auto w-50">
                <input type="text" class="form-control" name="username" id="InsertMedia" placeholder="Username" required style="text-transform: lowercase">  
            </div>
                <div class="input-group mx-auto w-50 my-3">
                    <input type="password" class="form-control" id="password"  name="password" placeholder="Password" required>
                </div>  
          
          
        </div>   
        <div class="modal-footer mt-3">
          <div class="about text-justify">
            <a href="" class='btn btn-primary custom-button-size ' data-bs-toggle="modal" data-bs-target="#signup">sign up</a>
            <button type="submit" class="btn btn-primary custom-button-size">Login</button>
          </div>
        </div>
      </form>
        </div>
      </div>
    </div>
  </div>
</nav>