<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/navbar'); %>
<div class="container">
    <div class="row">
        <h3 class="text-dark">/r/<%= subreddit %>: everything about anime</h3>
        <div class="col-md-5 offset-md-2">
            
                <div class="post">
                    <div class="post-upvote">
                        <a href="/r/<%= subreddit %>/<%= post._id %>/upvote"><i class="fas fa-arrow-up "></i></a>
                        <span><%= post.meta.upvotes.length - post.meta.down_votes.length  %> </span>
                        <a href="/r/<%= subreddit %>/<%= post._id %>/downvote"><i class="fas fa-arrow-down "></i></a>
                    </div>
                    <div class="post-content">
                        <p>r/<%= subreddit %><span> Posted by <%= post.user.username %> </span></p>
                    <h4><a href="#"><%= post.title %></a></h4>
                    <% if (post.body) { %>
                        <p><%= post.body %></p>
                    <% } else if(post.imageURL){ %>
                        <img class='img-fluid' src="<%= post.imageURL.url %>" alt="">
                    <% } %> 
                    <div class="post-info">
                        <div class="post-info-comments">
                            <i class="fas fa-comment fa-1x"></i> <%= comments.length %>  comments
                        </div>
                        <div class="post-info-share">
                            <i class="fas fa-share fa-1x"></i> Share
                        </div>
                        <div class="post-info-bookmark">
                            <i class="fas fa-bookmark fa-1x"></i> Save
                        </div>
                    </div>
                    </div>
                </div>
            <div class="row">
                <p class="text-dark">Comment as </p>
                <form action="/r/<%= subreddit %>/<%= post._id %>/comment" method="POST">
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="commentText"></textarea>
                    </div>
                    <button class="btn btn-dark">Comment</button>
                </form>
            </div>
            <hr>
            <div class="row comments">
                <% comments.forEach(comment => { %>
                 <div class="comment-item" id="<%= comment._id %> ">
                    <div class="comment-item-image">
                        <img class='comment-item-profile' src="https://assets.codepen.io/3283647/internal/avatars/users/default.png?fit=crop&format=auto&height=256&version=1608577514&width=256" alt="">
                    </div>
                    <div class="comment-item-body">
                        <p><span></span><%= comment.user.username %> created <%= new Date(comment.createdAt).toDateString() %> </p>
                        <p><%= comment.body %></p>
                        <div class="comment-item-options d-flex">
                            <button class="btn addReplyForm" >Reply</button>
                        </div>
 
                    </div>
                    <!-- reply form -->

                </div>    
                <hr>
                <% }) %>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="about-community border border-dark mt-3 p-3">
                <h3>/r/<%= subreddit %></h3>
                <p>About the community</p>
                <a class="btn btn-dark" href="/r/<%= subreddit %>/new">Create a Post</a>
            </div>
        </div>
    </div>

</div>
<%- include('../partials/footer'); %>
<script>
    $(document).ready(function(){
        let form = `<div class="row reply">
                            <form action="/r/<%= subreddit %>/<%= post._id %>/comment" method="POST">
                                <div class="mb-3">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="commentText"></textarea>
                                </div>
                                <button class="btn btn-primary">reply</button>
                            </form>
                        </div>`
        function addReplyForm(){
        if($(this).parent().parent().hasClass('formDisplayed')){
            $(this).parent().next().remove();
            $(this).parent().parent().removeClass('formDisplayed');
            console.log('deleting')
        }else{
            $(this).parent().parent().append(form)
            $(this).parent().parent().addClass('formDisplayed');
        }
    }

    $('.addReplyForm').click(addReplyForm)

    })
</script>
</body>
</html>