<html>
<%- include('./partials/head'); %>
<style>

</style>
<body>
<%- include('./partials/navbar'); %>
<% if (signedUser) { %>
<% } %>

<div class="container">
    <%- include('./partials/flash')  %> 
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <% posts.forEach(post => { %>
                <div class="post">
                    <div class="post-upvote">
                        <a href="r/<%= post.subreddit.r %>/<%= post._id %>/upvote"><i class="fas fa-arrow-up "></i></a>
                        <span><%= post.meta.upvotes.length - post.meta.down_votes.length  %> </span>
                        <a href="r/<%= post.subreddit.r %>/<%= post._id %>/downvote"><i class="fas fa-arrow-down "></i></a>
                    </div>
                    <div class="post-content">
                        <p><a class='community-text' href="/r/<%= post.subreddit.r %>">r/<%= post.subreddit.r %> </a><span>Posted by <a href="/u/<%= post.user.username %>">u/<%= post.user.username %> </a></span></p>
                    <h4><a href="r/<%= post.subreddit.r %>/<%= post._id %>"><%= post.title %> </a></h4>
                    <% if (post.body) { %>
                        <p><%= post.body %></p>
                    <% } else if(post.imageURL){ %>
                        <div class="post-image text-center">
                            <img class='img-fluid' src="<%= post.imageURL.url %>" alt="">
                        </div>
                    <% } %> 
                    <hr>
                    <div class="post-info">
                        <div class="post-info-comments">
                            <a href="/r/<%= post.subreddit.r %>/<%= post._id %>"><span><i class="fas fa-comment fa-1x"></i> <%= post.comments.length %>  Comments</span></a>
                        </div>
                        <div class="post-info-share">
                            <div class="dropdown show">
                                <a class="dropdown-toggle" href="#" role="button" id="shareMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-share fa-1x"></i> Share</a>
                            
                                <div class=" text-center dropdown-menu" aria-labelledby="shareMenu">
                                    <p class="dropdown-item copyLink" data="/r/<%= post.subreddit.r %>/<%= post._id %>" href="/r/<%= post.subreddit.r %>/<%= post._id %>" ><i class="fas fa-link"></i> Copy Link</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-info-bookmark">
                            <% if(signedUser && signedUser.bookmarked_posts.includes(post._id)) { %>
                                <a href="/r/<%= post.subreddit.r %>/<%= post._id %>/unbookmark"><i class="fas fa-bookmark fa-1x"></i> Unsave</a>
                            <% } else { %>     
                            <!-- signedUser.followedCommunites.includes(subreddit) -->
                            <a href="/r/<%= post.subreddit.r %>/<%= post._id %>/bookmark"><i class="fas fa-bookmark fa-1x"></i> Save</a>
                            <% }  %> 
                        </div>
                    </div>
                    </div>
                </div>
            <% }) %>
      

            <button class="btn btn-dark loadMorePost" id="LoadMorePostHome">Load more posts</p>
        </div>
        
        <div class="col-md-3">
            <div class="sidebar">
                <div class="top-communities border border-dark p-3 mb-3">
                    <% if (signedUser) { %>
                            <h5>Your Communities</h5>
                        <% } else {%>
                            <h5>Top Communities</h5>
                        <% } %> 
                    <ul>
                        <% r.forEach( subreddit => { %>
                            
                            <li class="d-flex flex-row justify-content-between p-1">
                                <% if (subreddit.iconURL) { %>
                                    <img class='icon-image' width="50px" src="<%= subreddit.iconURL.url %> " alt="">
                                <% }else{ %>
                                <img class='icon-image' width="50px" src="https://i.pinimg.com/474x/1c/9f/a9/1c9fa971343023a1dfcf69274b60c2f4.jpg" alt="">
                                <% } %> 
                                <a href="r/<%= subreddit.r %>">r/<%= subreddit.r %> </a>
                                <% if (signedUser) { %>
                                <a class="btn btn-dark" href="/r/<%= subreddit.r %>/leave">Leave</a>
                                <% } else {%>
                                    <a class="btn btn-dark" href="/r/<%= subreddit.r %>/follow">Join</a>
                                <% } %> 
                            </li>
                            <hr>
                        <% }) %>
                    </ul>
                </div>
                <div class="recent-posts border border-dark p-3">
                  
                    <div class="">
                        <h4>recent posts</h4>
                        <% for( let index = 0; index < 5; index++ ) { %>
                        
                    <% } %> 
                    </div>
                </div>
                <div class="faq border border-dark p-3">
                    <h4>Home</h4>
                    <p>Your personal Reddit frontpage. Come here to check in with your favorite communities.</p>
                    <div class="faq-create text-center">
                        <!-- not needed -->
                        <!-- <a href="/submit" class="btn btn-block faq-create-post mb-3">Create a Post</a> -->
                        <!-- <a href="r/new" class="btn faq-create-community btn-block">Create Community</a> -->
                        <a href="#" class="btn faq-create-community btn-block" data-bs-toggle="modal" data-bs-target="#createCommunity">Create Community</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    // let copyLink = $('.copyLink');
    // $('.copyLink').each(()=>{
        // $(this).on('click',()=>{
            // alert('hi');
        // })
    // })
    // $('.copyLink').click(()=>{
    //     let copyLink = document.getElementById('copyLink')
    //     let textToCopy = 'https://forum.helloearth.io' + copyLink.getAttribute('href');
    //     navigator.clipboard.writeText(textToCopy);
    //     // alert('Copied Link!')
    //     return false
    // });

</script>
<%- include('./partials/footer'); %>
</body>
</html>