<%- layout('layouts/boilerplate')  %> 
<div class="container">
  <div class="row mt-5">
      <div class="col-sm-8">
       <div class="bg-light px-3 py-3">
        <p class="p-2 fw-bold fs-5">Edit post</p>
        <!-- <p class="text-primary fw-bold text-end">Drafts(0)</p> -->
        <div class="post border border-secondary"></div>
        <dive class="row mt-2">
          <div class="col-sm-5 ">
              <select class="form-select" aria-label="Default select example">
                  <option selected>r/<%= subreddit %> </option>
              </select>   
          </div>
        </dive>
        <div class="row mt-2">
              <form action="/r/<%= subreddit %>/<%= post._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
              <div class="input-group custom-file mt-3">
                <img src="<%= post.imageURL.url %>" class="img-fluid" alt="">
                <input type="file" name="image" class="" />
                <label class="custom-file-label" for="image">file</label>
            </div>
              <div class="row mt-3">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Title" name="title" required value="<%= post.title %>">
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="input-group">
                      <textarea class="form-control" id="PostText" rows="5" name="body" placeholder="Text..."><%= post.body %></textarea> 
                  </div>
              </div>  
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <!-- saving draft not implemented -->
                <!-- <button class="btn btn-outline-secondary me-md-2 custom-button-size" type="button">Save Draft</button> -->
                <!-- <button class="btn btn-secondary custom-button-size mt-3" >Edit</button> -->
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
            </form>
            <a href="/r/<%= subreddit %>/<%= post._id %>/delete" class="btn btn-danger">Delete</a>          
          </div>
      
  </div>
    <div class="col-sm-4">
      <div class="bg-light p-3">
       <div class="row mt-1">
          <div class="p-2 fw-bold text-center">
              Posting to Foramu
          </div> 
       </div>
          <div class="bg-light"></div>
            <p>1. Remember the human</p>
            <div class="post border border-secondary"></div>
            <p>2. Behave like you would in real life</p>
            <div class="post border border-secondary"></div>
            <p>3. Look for the original source of content</p>
            <div class="post border border-secondary"></div>
            <p>4. Search for duplicates before posting</p>
            <div class="post border border-secondary"></div>
            <p>5. Read the community's rules</p>
        </div>
      </div>
    </div>  
