<%- layout('layouts/boilerplate')  %>
<div class="border border-success p-2 border-opacity-10">
</div>
  <div class="container">
    <%- include('../partials/flash')  %> 
    <div class="row mt-4">
        <div class="col-xl-8">
          <div class="row">
            <div class="col-10 offset-1 text-white">
              <a class="text-white fs-3 pe-3" href="/u/profile">Posts</a>
            </div>
            <div class="col-10 offset-1"> <% posts.forEach(post => { %>
              <div class="post">
                  <div class="post-upvote">
                      <a href="/r/<%= post.subreddit.r %>/<%= post._id %>/upvote"><i class="fas fa-arrow-up "></i></a>
                      <span><%= post.meta.upvotes.length - post.meta.down_votes.length  %> </span>
                      <a href="/r/<%= post.subreddit.r %>/<%= post._id %>/downvote"><i class="fas fa-arrow-down "></i></a>
                  </div>
                  <div class="post-content">
                      <p><a class='community-text' href="/r/<%= post.subreddit.r %>">r/<%= post.subreddit.r %> </a><span>Posted by <a href="/u/<%= user.username %>">u/<%= user.username %> </a></span></p>
                  <h4><a href="/r/<%= post.subreddit.r %>/<%= post._id %>"><%= post.title %> </a></h4>
                  <% if (post.body) { %>
                      <p><%= post.body %></p>
                  <% } else if(post.imageURL){ %>
                      <div class="post-image text-center">
                          <img class='img-fluid' src="<%= post.imageURL.url %>" alt="">
                      </div>
                      
                  <% } %> 
                  <hr>
                  <div class="post-info">
                      <div class="post-info-comments">
                          <a href="/r/<%= post.subreddit.r %>/<%= post._id %>"><span><i class="fas fa-comment fa-1x"></i> <%= post.comments.length %>  Comments</span></a>
                      </div>
                      <div class="post-info-share">
                          <div class="dropdown show">
                              <a class="dropdown-toggle" href="#" role="button" id="shareMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-share fa-1x"></i> Share</a>
                          
                              <div class=" text-center dropdown-menu" aria-labelledby="shareMenu">
                                  <a class="dropdown-item" id="copyLink" href="/r/<%= post.subreddit.r %>/<%= post._id %>" onclick="copyLink"><i class="fas fa-link"></i> Copy Link</a>
                              </div>
                          </div>
                      </div>
                      <div class="post-info-bookmark">
                        <% if(signedUser && signedUser.bookmarked_posts.includes(post._id)) { %>
                            <a href="/r/<%= post.subreddit.r %>/<%= post._id %>/unbookmark"><i class="fas fa-bookmark fa-1x"></i> Unsave</a>
                        <% } else { %>     
                        <!-- signedUser.followedCommunites.includes(subreddit) -->
                        <a href="/r/<%= post.subreddit.r %>/<%= post._id %>/bookmark"><i class="fas fa-bookmark fa-1x"></i> Save</a>
                        <% }  %> 
                    </div>
                  </div>
                  </div>
              </div>
          <% }) %></div>
            <!-- <div class="col mt-3" style="background-color: white;"> -->
             
            <!-- </div> -->
          </div>
         
          <!-- <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><i class="fas fas-solid fa-sun"></i>Posts</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
                  <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fas fa fa-sharp fa-solid fa-fire"></i>Hot</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa fa-light fa-up-to-line"></i>Top</a>
                  </li> -->
                <!-- </ul>
              </div>
            </div>
          </nav> -->
          <!-- width: 100% -->
          <!-- <div class="row mt-3" style="background-color: white;">

          </div> -->
          
          <!-- if(user.posts) -->
          <% if (!user.posts) { %>
            <div class="text-center">
            hmm... u/FunWork47 hasn't posted anything
          </div>
          <% } %>
          
    
        </div>
        <div class="col-xl-4 ">
          <div class="top-communities border border-secondary pb-3">
              <div class="user-blue"></div>
              <div class="text-center user-profile">
                <img class='img-fluid' style="border-radius: 50%; width: 50%" src="<%= user.Bio.profileImage.url %> " alt="">
                <h2><%= user.username %> </h2>
                <p>u/<%= user.username %></p>
                <p><%= user.Bio.text %> </p>
              </div>
              <!-- <div class="text-center"> -->
                <!-- <button type="button" class="user-btn btn btn-danger btn-sm">Style Avatar</button> -->
              <!-- </div> -->
              <div class="row mt-4"> </div>
              
               <!-- <button class="btn btn-light" type="button"><i class="fas fa fa-solid fa-plus"></i>Add Social Link</button> -->
              <div class="row mt-4"> </div>  
              <div class="text-center">
              </div>
              <div class="text-end pe-4">
                <!-- <p class="text-primary">More Options</p> -->
              </div>
                
               
            </div>
            <!-- <div class="mt-5"> -->
              <!-- <button class="btn btn-primary btn-sm" type="submit">Back to Top</button> -->
            <!-- </div> -->
            
            
          </div> 
        </div>  
    </div>
  </div>